<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suse.hwj.springboot.mapper.CourseMapper">
    <update id="updateById" parameterType="com.suse.hwj.springboot.entity.Course">
        update `course`
        <set>
            <if test="coverImage != null">cover_image = #{coverImage},</if>
            <if test="courseName != null">course_name = #{courseName},</if>
            <if test="coachName != null">coach_name = #{coachName},</if>
            <if test="duration != null">duration = #{duration},</if>
            <if test="price != null">price = #{price},</if>
            <if test="description != null">description = #{description}</if>
            where course_id = #{courseId}
        </set>
    </update>
    <select id="selectCoachIdByName" parameterType="String" resultType="Long">
        SELECT coach_id
        FROM coach
        WHERE coach_name = #{coachName}
        LIMIT 1
    </select>
    <insert id="insert" parameterType="com.suse.hwj.springboot.entity.Course">
        INSERT INTO `course`
            (course_name, coach_id, coach_name, cover_image, duration, price, description)
        VALUES
            (#{courseName}, #{coachId}, #{coachName}, #{coverImage}, #{duration}, #{price}, #{description})
    </insert>

    <select id="selectAll" resultType="com.suse.hwj.springboot.entity.Course" >
        select * from `course`
        <where>
            <if test="courseName != null">course_name like concat('%', #{courseName},'%')</if>
        </where>
        order by course_id desc
    </select>


</mapper>